<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>My Receipts</h1>
        <table>
             <thead>Vendor</thead>
            
            <tr>{{ Receipts.vendor }}</tr>
                {% endfor %}
                <tr>Gooogle</tr>
            <thead>Total</thead>
                <tr>$1,000.00</tr>
            <thead>Tax</thead>
                <tr>1%</tr>
            <thead>Date</thead>
                <tr>1/20/23</tr>
            <thead>Category</thead>
                <tr>Electronics</tr>
            <thead>Account</thead>
                <tr>AMZ</tr>
        </table>
    </main>
</body>
</html>
